{% comment %}
    Renders an Sidebar for blog and article

    Usage:
    {% render 'sidebar-blog' %}
{% endcomment %}

{%- if section.settings.sidebar -%}
  <div class="sidebar">
    <div class="scroll-sidebar">
    {%- liquid
      if section.settings.blog_show_lastest_post
        render 'latest-blog-posts'
      endif
    -%}

    {%- liquid
      if section.settings.blog_show_tags
      render 'tags'
      endif
    -%}

    {%- liquid
      if section.settings.blog_categories
      render 'blog-categories'
      endif
    -%}
  </div>
{% endif %}