<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  .code-error {
    color: var(--color-base-accent-2);
    font-size: 15rem;
    font-weight: 700;
    margin: 0;
    line-height: 1;
  }

  .code-message {
    font-size: 3.6rem;
    font-weight: 700;
    margin: 2rem 0;
  }


  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }

    .code-error {
      font-size: 20rem;
    }
  }


</style>

<div class="template-404 page-width page-margin center">
  <p class="code-error">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="code-message">
    {{ 'templates.404.title' | t }}
  </h1>

  <a href="{{ routes.all_products_collection_url }}" class="button redirect-home">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>