@media screen and (min-width: 990px) {
  .article-template .article-content {
    max-width: 80rem
  }
}

.article-template > *:first-child:not(.article-template__hero-container) {
  padding-top: var(--grid-desktop-vertical-spacing) ;
}

.article-template__content > p {
  font-size: 1.6rem;
}

/* ========== Features Image
============================ */
.article-template__hero-container {
  margin: 0 auto;
}

/* Option Height Image */
.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

/* ========== Blog Title
============================ */

.article-template header {
  margin-bottom: 1.6rem;
  max-width: 80rem;
}

/* Title */
.article-template__title {
  margin: 0;
}

/* Date Publish */
header > span {
  color: #9e9e9e;
  font-size: 1.2rem;
  line-height: calc(1 + 0.45/var(--font-body-scale));
  text-transform: uppercase;
}


.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

/* ========== Content
============================ */
.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* ========== Share Default
============================ */

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
}


/* ===========Tag, Sharing Social
================================= */
.footer-article {
  margin-bottom: var(--grid-desktop-vertical-spacing);
}

@media screen and (min-width: 750px) {
  .footer-article {
    display: flex;
    justify-content: space-between;
  }
}

/* Tag */
.tag-article ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.tag-article li {
  padding: .4rem;
  list-style-type: none;
}
.tag-article h5 {
  margin: 0;
}

/* Share */
.social-media {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 750px) {
  .social-media {
    justify-content: flex-end;
  }
}

.social-media li {
  list-style-type: none;
  padding: .8rem;
  transition: all .4s ease;
}

.social-media li:hover {
  transform: translateY(-3px);
}

.social-media li > a {
  color: var(--color-base-accent-1);
}

.social-media li > a .icon-svg {
  margin-right: 0;
}

/* =========== Next Prev Post
================================= */

.previous_next_buttons {
  display: flex;
  justify-content: space-between;
}
.previous_next_buttons .btn {
  background-color: #eee;
  color: var(--color-base-accent-1);
  text-decoration: none;
  padding: 1.6rem 3.2rem;
}

@media screen and (max-width: 350px) {
  .previous_next_buttons .btn {
    padding: 1.2rem 1.6rem;
  }
}

.previous_next_buttons .btn:hover {
  background-color: rgba(var(--color-base-accent-1));
  color: rgba(var(--color-base-background-1));
}



/* ========== Back To Blog
============================ */
.article-template__link {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  text-decoration: none;
}

.article-template__link:hover {
  color: var(--color-base-accent-3);
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

/* ========== Comment
============================ */

/* Show Comment */
.article-template__comment-wrapper {
  margin: 5rem auto;
}

.article-template__comment-wrapper h2 {
  margin: 0 0 1.6rem;
  font-weight: 900;
  letter-spacing: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-comment {
  margin-bottom: 1.5rem;
}

.article-template__comments span {
  font-weight: 600;
  font-size: calc( var(--font-body-scale) * 1.3rem);
  line-height: calc(1 + 0.84/var(--body-font-scale));
  text-transform: uppercase;
}

.article-template__comments-comment p {
  margin: 0;
}

/* Post Comment */
.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}

.cmt-title {
  border-top: .1rem solid rgba(var(--color-foreground),.08);
  padding-top: calc(2 * var(--grid-desktop-vertical-spacing));
}

